/* ==================== Variáveis Globais ==================== */
:root {
    --princiapl: #FEFDF9;
    --gray: #6B696E;
    --dark: #010219;
    --white: #FFFFFF;
    --darkblue: #01021A;
    --red: #EE5B51;
    --gold: #EDAB50;
}

/* ==================== Fontes Globais ==================== */
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

/* ==================== Desabilitando a Formatação Padrão ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
}


/* ==================== Estilização do Body ==================== */
body {
    padding: 5% 10%;
}

/* ==================== Estilização do Header ==================== */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

#header .logo:hover {
    width: 120%;
    height: auto;
}

#header .navList {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.navList a.active {
    color: var(--gold);
}

.navList li, a {
    text-decoration: none;
    list-style: none;
    color: var(--gray);
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.3s ease-in-out;
}

.navList a:hover {
    color: var(--gold);
}

/* =============== Estilização da Section Principal =============== */
#main .mainBox {
    padding: 2.5% 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.mainBox img {
    width: 100%;
    height: auto;
}

.mainBox .leftSide {
    width: 70%;
}

.mainBox .content {
    padding: 2.5% 0;
    display: flex;
    gap: 50px;
}

.content .heading {
    width: 30%;
}

.content .heading h1 {
    font-size: 3.4rem;
}

.content .text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content .text p {
    font-size: 1.5em;
    color: var(--gray);
    line-height: 1.5;
    font-weight: 300;
}

.content .text button {
    padding: 10px 30px;
    border: none;
    background-color: var(--red);
    color: var(--darkblue);
}

.mainBox .rightSide {
    width: 30%;
}

/* ============== Estilização da Lado Esquerdo =============== */
.leftSide {
    width: 70%;
}


/* ============== Estilização da Lado Direito =============== */
