/* ==================== Variáveis Globais ==================== */
:root {
    --princiapl: #FEFDF9;
    --gray: #6B696E;
    --dark: #010219;
    --white: #FFFFFF;
    --darkblue: #01021A;
    --red: #EE5B51;
    --gold: #EDAB50;
}

/* ==================== Fontes Globais ==================== */
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

/* ==================== Desabilitando a Formatação Padrão ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
}


/* ==================== Estilização do Body ==================== */
body {
    padding: 5% 10%;
}

/* ==================== Estilização do Header ==================== */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

#header .logo:hover {
    width: 120%;
    height: auto;
}

#header .navList {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.navList a.active {
    color: var(--gold);
}

.navList li, a {
    text-decoration: none;
    list-style: none;
    color: #6B696E;
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
}

.navList a:hover {
    color: var(--gold);
}

/* =============== Estilização da Section Principal =============== */
#main .mainBox {
    padding: 10% 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.mainBox img {
    width: 100%;
    height: auto;
}

/* ============== Estilização da Lado Esquerdo =============== */
.leftSide {
    width: 70%;
}


/* ============== Estilização da Lado Direito =============== */
.rightSide {
    width: 30%;
    padding: 3% 2%;
    color: var(--white);
    background-color: var(--darkblue);
}

.rightSide .mainHeading {
    font-size: 2em;
    color: var(--gold);
}

